<section id="register">
  <div class="form">
    <h2>Register</h2>

<form [formGroup]="form" class="login-form" (ngSubmit)="registerHandler()">


    <!-- email -->
      <input type="email" formControlName="email" id="email" placeholder="abv@gmail.com">
   
    <ng-container *ngIf="form.get('email')?.touched">
      <p class="error" *ngIf="form.get('email')?.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">
        Email is not valid!
      </p>
    </ng-container>

    <!-- password -->
    <ng-container formGroupName="pass">
      
        
      <input type="password" formControlName="password" id="password" placeholder="******">
      
      <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
        <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']">
          Password must be at least 5 characters!
        </p>
      </ng-container>

      <!-- rePassword -->
      
        
      <input type="password" formControlName="rePassword" id="rePassword" placeholder="******">
      
      <p *ngIf="form.get('pass')?.errors?.['sameValueGroupValidator'] && form.get('pass')?.get('rePassword')?.touched"
        class="error">Repeat Password does not match
        password!</p>
    </ng-container>
    <button type="submit" >Create Account</button>

    <p class="message">
      Have an account?
      <a routerLink="/auth/login">Log In</a>
    </p>

 
</form>