<header>
  <a id="logo" href="/"
          ><img id="logo-img" src="../../../assets/images/logo.jpg" alt=""
        /></a>
      <nav>  
      <ng-template #loggedOutTemplate>
        <div class="guest">
            <a routerLink="/auth/login">Login</a>
            <a routerLink="/auth/register">Register</a>
        </div>
      </ng-template>

      <ng-template #loggedInTemplate>
        
        <div class="user">
            <a routerLink="/">All Offers</a>
            <a routerLink="/auth/profile">My Offers</a>
            <a routerLink="/offer/new">New Offer</a>
            <a routerLink="/auth/logout">Logout</a>
        </div>
      </ng-template>

      <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>
    
    </nav>
</header>